<script>

setTimeout(function(){ $('div#nextButton').css('visibility','visible'); }, INST_WAIT_TIME);

</script>

<div class="instruct" id="main">

<p>As a reminder, here are the group members:</p>

<p>Group B members:</p>
<img src="../../static/images/face1m.jpg" alt="Face" style="width:100px;height:100px;">
<img src="../../static/images/face2m.jpg" alt="Face" style="width:100px;height:100px;">
<img src="../../static/images/face3m.jpg" alt="Face" style="width:100px;height:100px;">
<img src="../../static/images/face4m.jpg" alt="Face" style="width:100px;height:100px;">
<p>Group G members:</p>
<img src="../../static/images/face5m.jpg" alt="Face" style="width:100px;height:100px;">
<img src="../../static/images/face6m.jpg" alt="Face" style="width:100px;height:100px;">
<img src="../../static/images/face7m.jpg" alt="Face" style="width:100px;height:100px;">
<img src="../../static/images/face8m.jpg" alt="Face" style="width:100px;height:100px;">
<br /><br />
<p></p>
    


    
        <div id="nextButton" style="visibility: hidden;">
If you're ready, click:  <strong>START</strong>.    
    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                START <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
