
body {
    padding:0px;
    margin: 40px;
    background-color: black;
    color: white;
    font-weight: 300; 
    font-size: 13pt;
}


/* text styling */
strong {
  font-weight: 600;         
}

.warm {
  color: steelblue;
  text-align: justify;
}

.cool {
  color: #ccccff;
}


/* these are all the same for now, but easy to modify individually */
#container-ad, #container-error, #container-exp, #container-consent, #container-instructions, #container-questionnaire {
    position: absolute;
    top: 0px; /* Header Height */
    bottom: 0px; /* Footer Height */
    left: 0px;
    right: 0px;
    padding: 100px;
    padding-top: 5%;
    border: 18px solid #f3f3f3;
    background: white;
}

#container-consent, #container-exp {  /* override padding to fit long consent forms and exp display*/
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 1%;
}

/* ad.html  - the ad that people view first */
#adlogo {
    float: right;
    width: 140px;
    padding: 2px;
    border: 1px solid #ccc;
}

/* consent.html - the consent form */
#consent {
  margin: 0 auto;
  margin-top: 0;
  width: 800px;
  font-size: 100%;
}

.legal {
  text-align: justify;
  font-size: 11pt;
  line-height: 1.1em;
}

#trial {
  margin: 0 auto;
  width: 800px;
  text-align: center;
}

#query {
  color: darkgray;
}

.question {
  margin-bottom: 30px;
}

/* errors */
#error img {
  padding-right: 10px;
  padding-top: 15px;
}


.instruct p {
    text-align: justify;
}

.instruct .continue {
    margin: 20px 20px;
    width: 120px;
    height: 40px;
    font-size: 13pt;
    float: right;
}

.instruct .legal {
    font-size: 13px;
}

.instruct .header {
    text-align: justify;
    font-style: italic;
}

.instruct .instructions {
    text-align: center;
    font-style: italic;
    font-size: 100%;
    margin: 0 auto;
    margin-top: 30px;
    width: 500px;
}

#featuretable {
    margin: 0 auto;
}

.instruct table .cell {
    width: 140px;
}

.instruct table img {
    display: inline-block;
}
.instruct table h3 {
    margin: 0;
    margin-top: 6px;
}
.instruct table h4 {
    margin: 0;
    margin-top: 6px;
}

.instruct .subbox {
    text-align: justify;
    width: 500px;
    margin: 20px auto;
}
.instruct .subbox p {
    padding: 15px 20px;
    border: 1px solid white;
}

.instruct table {
    margin: 0 0 10px;
}

.instruct .outerbox {
    border: 1px dashed #A54;
    border: 1px solid gray;
    border: 2px solid #ddd;
}

.instruct .innerbox {
    width: 250px;
}
.instruct .innerbox img {
    margin: 0 10px;
}

.instruct hr {
    border: .5px solid gray;
}
