<!doctype html>


<html>
<head>
	<title>Debriefing</title>
	<link rel="stylesheet" href="/static/css/task.css" type="text/css" media="screen">
</head>
<body>
	<div id="debriefing">
		<h1>Debriefing</h1>

		<div id="debriefingtext">
		<p>Thank you for your participation in our study!  Your anonymous data makes an
		important contribution to our understanding of human learning and memory. </p>
		
		<p>We kindly ask you not to tell other potential participants about the details of this study. Our research can only yield helpful information if all participants share the same expectations about the study and have no privileged foreknowledge.</p>
		</div>

			<p class="cool">Do you agree to the following statement?</p>
			<div id="affirmationbox">
				<p>I feel that I have been adequately debriefed about the nature
					of the study.  The investigator has explained the purposes of the
					research.</p>
					 </div>
                <div class="col-md-4">
                    <select id="debrief" name="debrief">
                        <option value="1">Yes, I agree</option>
                        <option value="0">No, I have not been adequately debriefed</option>
                    </select>
                </div>
            </div>
            
             <hr>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-7">
            </div>
            <div class="col-xs-3">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                    Continue<span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>
					
			</div>
	</div>
</body>

</html>
