<script type="text/javascript">
  keydownfun = function() {}; // Should unbind keys.
</script>

<div id="container-questionnaire">
    <h1>Background Info</h1>

    <hr>

    <p>Before you begin, we would like to learn a little about your background as a Southerner. For each of the following statements, please indicate the extent to which you agree or disagree with the statement.(Below, "Southerners" refers to anyone from the Southern United States.) </p>

    <div class="instructions well">

        <form id="postquiz" action="debrief" method="post">


            <!-- beginning of a question -->
            <div class="row question">
                <div class="col-md-8">
                    1. I feel a bond with Southerners. 
                </div>
                <div class="col-md-4">
                    <select id="ID1" name="ID1">
                      
                       
                        <option value="5">Agree strongly</option>
                        <option value="4">Agree a little</option>
                        <option value="3"SELECTED>Neither agree nor disagree</option>
                        <option value="2">Disagree a little</option>
                        <option value="1">Disagree strongly</option>
                    </select>
                </div>
            </div>
            <!-- end of a question -->

<!-- beginning of a question -->
            <div class="row question">
                <div class="col-md-8">
                 <strong>   2. I feel solidarity with Southerners. </strong>
                </div>
                <div class="col-md-4">
                    <select id="ID2" name="ID2">
                      
                       
                        <option value="5">Agree strongly</option>
                        <option value="4">Agree a little</option>
                        <option value="3"SELECTED>Neither agree nor disagree</option>
                        <option value="2">Disagree a little</option>
                        <option value="1">Disagree strongly</option>
                    </select>
                </div>
            </div>
            <!-- end of a question -->
            
            <!-- beginning of a question -->
            <div class="row question">
                <div class="col-md-8">
                    3. I feel committed to Southerners. 
                </div>
                <div class="col-md-4">
                    <select id="ID3" name="ID3">
                      
                       
                        <option value="5">Agree strongly</option>
                        <option value="4">Agree a little</option>
                        <option value="3"SELECTED>Neither agree nor disagree</option>
                        <option value="2">Disagree a little</option>
                        <option value="1">Disagree strongly</option>
                    </select>
                </div>
            </div>
            <!-- end of a question -->
            
            <!-- beginning of a question -->
            <div class="row question">
                <div class="col-md-8">
                  <strong>  4. I am glad to be a Southerner. </strong>
                </div>
                <div class="col-md-4">
                    <select id="ID4" name="ID4">
                      
                       
                        <option value="5">Agree strongly</option>
                        <option value="4">Agree a little</option>
                        <option value="3"SELECTED>Neither agree nor disagree</option>
                        <option value="2">Disagree a little</option>
                        <option value="1">Disagree strongly</option>
                    </select>
                </div>
            </div>
            <!-- end of a question -->
            
            <!-- beginning of a question -->
            <div class="row question">
                <div class="col-md-8">
                    5. I think that Southerners have a lot to be proud of. 
                </div>
                <div class="col-md-4">
                    <select id="ID5" name="ID5">
                      
                       
                        <option value="5">Agree strongly</option>
                        <option value="4">Agree a little</option>
                        <option value="3"SELECTED>Neither agree nor disagree</option>
                        <option value="2">Disagree a little</option>
                        <option value="1">Disagree strongly</option>
                    </select>
                </div>
            </div>
            <!-- end of a question -->
            
            <!-- beginning of a question -->
            <div class="row question">
                <div class="col-md-8">
                 <strong>   6. It is pleasant to be a Southerner. </strong>
                </div>
                <div class="col-md-4">
                    <select id="ID6" name="ID6">
                      
                       
                        <option value="5">Agree strongly</option>
                        <option value="4">Agree a little</option>
                        <option value="3"SELECTED>Neither agree nor disagree</option>
                        <option value="2">Disagree a little</option>
                        <option value="1">Disagree strongly</option>
                    </select>
                </div>
            </div>
            <!-- end of a question -->
            <!-- beginning of a question -->
            <div class="row question">
                <div class="col-md-8">
                    7. Being a Southerner gives me a good feeling. 
                </div>
                <div class="col-md-4">
                    <select id="ID7" name="ID7">
                      
                       
                        <option value="5">Agree strongly</option>
                        <option value="4">Agree a little</option>
                        <option value="3"SELECTED>Neither agree nor disagree</option>
                        <option value="2">Disagree a little</option>
                        <option value="1">Disagree strongly</option>
                    </select>
                </div>
            </div>
            <!-- end of a question -->
            
            <!-- beginning of a question -->
            <div class="row question">
                <div class="col-md-8">
                <strong>    8. I often think about the fact that I am a Southerner. </strong>
                </div>
                <div class="col-md-4">
                    <select id="ID8" name="ID8">
                      
                       
                        <option value="5">Agree strongly</option>
                        <option value="4">Agree a little</option>
                        <option value="3"SELECTED>Neither agree nor disagree</option>
                        <option value="2">Disagree a little</option>
                        <option value="1">Disagree strongly</option>
                    </select>
                </div>
            </div>
            <!-- end of a question -->
            
            <!-- beginning of a question -->
            <div class="row question">
                <div class="col-md-8">
                   9. The fact that I am a Southerner is an important part of my identity. 
                </div>
                <div class="col-md-4">
                    <select id="ID9" name="ID9">
                      
                       
                        <option value="5">Agree strongly</option>
                        <option value="4">Agree a little</option>
                        <option value="3"SELECTED>Neither agree nor disagree</option>
                        <option value="2">Disagree a little</option>
                        <option value="1">Disagree strongly</option>
                    </select>
                </div>
            </div>
            <!-- end of a question -->
            <!-- beginning of a question -->
            <div class="row question">
                <div class="col-md-8">
                  <strong>  10. Being a Southerner is an important part of how I see myself.  </strong>
                </div>
                <div class="col-md-4">
                    <select id="ID10" name="ID10">
                      
                       
                        <option value="5">Agree strongly</option>
                        <option value="4">Agree a little</option>
                        <option value="3"SELECTED>Neither agree nor disagree</option>
                        <option value="2">Disagree a little</option>
                        <option value="1">Disagree strongly</option>
                    </select>
                </div>
            </div>
            <!-- end of a question -->
            
            <!-- beginning of a question -->
            <div class="row question">
                <div class="col-md-8">
                    11. I have a lot in common with the average Southerner. 
                </div>
                <div class="col-md-4">
                    <select id="ID11" name="ID11">
                      
                       
                        <option value="5">Agree strongly</option>
                        <option value="4">Agree a little</option>
                        <option value="3"SELECTED>Neither agree nor disagree</option>
                        <option value="2">Disagree a little</option>
                        <option value="1">Disagree strongly</option>
                    </select>
                </div>
            </div>
            <!-- end of a question -->
            
            <!-- beginning of a question -->
            <div class="row question">
                <div class="col-md-8">
                 <strong>   12. I am similar to the average Southerner. </strong>
                </div>
                <div class="col-md-4">
                    <select id="ID12" name="ID12">
                      
                       
                        <option value="5">Agree strongly</option>
                        <option value="4">Agree a little</option>
                        <option value="3"SELECTED>Neither agree nor disagree</option>
                        <option value="2">Disagree a little</option>
                        <option value="1">Disagree strongly</option>
                    </select>
                </div>
            </div>
            <!-- end of a question -->
            
            <!-- beginning of a question -->
            <div class="row question">
                <div class="col-md-8">
                    13. Southerners have a lot in common with each other. 
                </div>
                <div class="col-md-4">
                    <select id="ID13" name="ID13">
                      
                       
                        <option value="5">Agree strongly</option>
                        <option value="4">Agree a little</option>
                        <option value="3"SELECTED>Neither agree nor disagree</option>
                        <option value="2">Disagree a little</option>
                        <option value="1">Disagree strongly</option>
                    </select>
                </div>
            </div>
            <!-- end of a question -->
            <!-- beginning of a question -->
            <div class="row question">
                <div class="col-md-8">
                <strong>    14. Southerners are very similar to each other. </strong>
                </div>
                <div class="col-md-4">
                    <select id="ID14" name="ID14">
                      
                       
                        <option value="5">Agree strongly</option>
                        <option value="4">Agree a little</option>
                        <option value="3"SELECTED>Neither agree nor disagree</option>
                        <option value="2">Disagree a little</option>
                        <option value="1">Disagree strongly</option>
                    </select>
                </div>
            </div>
            <!-- end of a question -->
            
            
    <hr>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-7">
            </div>
            <div class="col-xs-3">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                    Continue <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>


</div>
