<script type="text/javascript">
  keydownfun = function() {}; // Should unbind keys.
</script>

<div id="container-questionnaire">
    <h1>Ratings, Part 1</h1>

    <hr>

<p>Thanks for your interest in our study. Unfortunately, as described in the ad, this study is only open to people who currently reside the U.S.</p>

<p>To exit the survey, please close this window and return the HIT. We hope to see you in another survey without this restriction!</p>



    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-7">
            </div>
            <div class="col-xs-3">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                    Continue <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>


</div>
