<script type="text/javascript">
  keydownfun = function() {}; // Should unbind keys.
</script>

<div id="container-questionnaire">
    <h1>Background Info</h1>

    <hr>

    
    <div class="instructions well">

        <form id="postquiz" action="debrief" method="post">


            <br><br>
        Please list two things Southerners do relatively often.<br/>
        <textarea rows="10" cols="80" name="Prime1" id="Prime1"></textarea>

    <hr>

<br><br>
        Please list two foods Southerners like.<br/>
        <textarea rows="10" cols="80" name="Prime2" id="Prime2"></textarea>

    <hr>
<br><br>
        Please list one thing Southerners DO WELL and one thing Southerners DO NOT DO WELL.<br/>
        <textarea rows="10" cols="80" name="Prime3" id="Prime3"></textarea>

    <hr>
    
    <br><br>
        Pick one of the items you listed above that Southerners either do well or don't do well, and please briefly describe a time when a Southerner exhibited this.<br/>
        <textarea rows="10" cols="80" name="Prime4" id="Prime4"></textarea>

    <hr>
    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            </div>
            <div class="col-xs-7">
            </div>
            <div class="col-xs-3">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                    Continue <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>


</div>
