<script>

setTimeout(function(){ $('div#nextButton').css('visibility','visible'); }, INST_WAIT_TIME);

</script>

<div class="instruct" id="main">

<p>Before playing the money sharing game yourself, you will watch 140-160 rounds of a Chooser’s choices.</p>

<p>Each round shows two players on the screen, representing a member of Group B and a member of Group G.</p>

<p>The Chooser’s choice will be highlighted, ou will see feedback they received from the chosen player as well as the unchosen player (“Shared, +1“ or “Not Shared, 0“)</p>

<p>When you're ready to continue, click Next.</p>




<p></p>
    


    
        <div id="nextButton" style="visibility: hidden;">
When you're ready to continue, click <strong>Next</strong>. 
    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                NEXT <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
