
<script>

setTimeout(function(){ $('div#nextButton').css('visibility','visible'); }, INST_WAIT_TIME);

</script>

<div class="instruct" id="main">


<p>Thanks for your interest in our study. Unfortunately, as described in the ad, this study is only open to people who grew up in or currently reside in the Southern U.S.</p>

<p>To exit the survey, please close this window and return the HIT. We hope to see you in another survey without this restriction!</p>

<div id="nextButton" style="visibility: hidden;">
</div>



</div>

